.hero .button-container {
    display: flex;
    justify-content: space-between;
    width: 50%; /* Adjust as necessary */
    margin: 2rem auto 0;
}

.hero .btn.left {
    margin-right: auto;
}

.hero .btn.right {
    margin-left: auto;
}
